<aside class="sidebar">
  <img src="assets/icons/Joinlogo.svg" alt="Join Logo" />

  <nav class="sidebar__nav">
    <a routerLink="/summary" routerLinkActive="active" class="sidebar__link">Summary</a>
    <a routerLink="/add-task" routerLinkActive="active" class="sidebar__link">Add Task</a>
    <a routerLink="/board" routerLinkActive="active" class="sidebar__link">Board</a>
    <a routerLink="/contacts" routerLinkActive="active" class="sidebar__link">Contacts</a>
  </nav>

  <div class="sidebar__footer">
    <a routerLink="/privacy-policy" class="sidebar__footer-link">Privacy Policy</a>
    <a routerLink="/legal-notice" class="sidebar__footer-link">Legal Notice</a>
  </div>
</aside>
