@use '../../../../styles/abstracts' as *;

.main-layout {
  display: flex;
  min-height: 100vh;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__page {
    flex: 1;
    max-width: $max-width;
    padding: $spacing-lg;
  }
}
